{% extends 'polls/base.html' %}
{% block title %}
question
{% endblock %}
{% block content %}
<h1>{{ question.question_text }}</h1>
 <p><small><i>Asked on: {{ question.pub_date }} UTC</i></small></p>
 <hr>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="container">
	
<form action="{% url 'polls:vote' question.id %}" method="post">
	{% csrf_token %}

	{% for choice in question.choice_set.all %}
	<label for="choice{{ forloop.counter }}">
	<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" class="card-input-element" />
	
<!-- <div class="panel panel-default card-input">
 --> <div class="card border-primary mb-3 text-center card-input">
 	<!--  <div class="card-body text-primary">  -->
 	 <div class="card-body">
 	 	{{ choice.choice_text }}
	<!-- <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br> -->
	</div>
		</div></label>
	{% endfor %}
	<br><br>
	<button type="submit" class="btn btn-primary" name="Vote">Vote</button>
</form>
</div>


{% endblock %}

 <label>
          <input type="radio" name="product" class="card-input-element" />

            <div class="panel panel-default card-input">
              <div class="panel-heading">Product A</div>
              <div class="panel-body">
                Product specific content
              </div>
            </div>

        </label>