{% extends 'polls/base.html' %}
{% block title %}
Search
{% endblock %}
{% block content %}
<h1>Search Results:</h1>
	{% if search|length < 1 %}
	<p>No search results</p>
	<p>Your Search - <b>{{ query }}</b>- didn't match anything</p>
	<p><b>Suggestions:</b> Try different keywords.</p>
	{% endif %}
<ul>
	{% for question in search %}
	<div class="card">
  	<div class="card-body">
    <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
    <p><small><i>Asked on: {{ question.pub_date }}</i></small></p>
  	</div>
	</div>
	
	{% endfor %}
</ul>
{% endblock %}